*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* overflow-y: hidden; */
    

}
body {
    position: relative;
}


html {
    scroll-behavior: smooth;
    width: 100%;
    min-height: 100vh;
    
}
/* #scrollButton {
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;
}

#scrollButton.active {
    opacity: 1;
    transform: scale(1.1);
} */


#first-section {
    background-image: 
        url('2718089.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    color: #fff;

    
    
}
.for-button{
    /* border: 2px solid black; */

    display: flex;
    justify-content: center;
}
button {
    padding: 12px 40px;
    font-size: 1.2rem;
    color: white;
    background: #ff9800;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #f57c00;
    transform: scale(1.1);
}
.container {
    /* border: 2px solid black; */

    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    padding: 20px;
}
.container-section2 {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.container-border {
    /* border: 2px solid black; */

    background-color: #ffffff5f;
    border-radius: 15px;
    padding: 70px;
    padding-bottom: 20px;
    width: 80%;
    max-width: 600px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container-border h2{
    font-size: 200px;
    margin: 0;
    padding: 0;
    text-align: end;
    color: #333;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 10px;
    letter-spacing: 2px;
    color: #333;

}

#second-section {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.container-border-bottom {
    background-color: #fff;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 76vh;
    overflow: hidden;


}

.text-top-border {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
    color: #333;

}

.text-project-descroption {
    /* border: 2px solid black; */
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #333;
}


.top-border{
    /* display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 60vh;
    align-items: center;
    gap: 50px; */

    display: flex;
    flex-direction: column;
    border: 2px solid #333;
    border-radius: 15px;
    background-color: #f0f0f0;
    align-items: center;
    padding: 20px;
    padding-top: 0;
    gap: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 0;



}
.top-border-title{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
}
.bottom-border{
    display: flex;
    /* border: 2px solid black; */
    height: 50vh;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    padding-top: 20px;
    
}


.btn{
    padding: 12px 24px;
    font-size: 1.2rem;
    color: white;
    background-color: #634DA2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    background-color: rgb(105, 105, 243);
    cursor: pointer;
    transition: 0.3s ease;
}
.bottom-border-left, .bottom-border-right, .bottom-border-left2, .bottom-border-right2{
    border: 2px solid black;
    width: 20%;
    height: 20vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;


}

.border-frame{
    /* border: 2px solid black; */
    width: 40%;
    height: 100%;

}
.border-frame img {
    width: 100%;
    height: 100%;
}


.bottom-border-left:hover, .bottom-border-right:hover, .bottom-border-left2:hover, .bottom-border-right2:hover {
    background-color: rgb(181, 181, 250);
    cursor: pointer;
    transition: 0.3s ease;
    transform: scale(1.1);
    
}

.div-center{
    height: 5vh;
    background-color: #634DA2;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;

}

.div-center h1{
    color: white;
    font-size: 35px;
    padding: 0;
    margin: 0;
}
.text-personal{
    /* border: 2px solid black; */

    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-personal span{
    /* border: 2px solid black; */

    font-size: 14px;
    padding: 5px;
    padding-left: 5px;
    text-align: start;


}

@media (max-width: 768px) {
    .container-border {
        display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 20px; 
    
    background-color: transparent; 
    
    box-shadow: 0 10px 20px rgba(91, 88, 88, 0.5);
    padding-bottom: 70%;
    margin-bottom: 10px;


    }
    .container-border-bottom {

        height: 85vh;
        margin: 0;
        background-color: white;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        width: 100%;
    }
    .text-project-descroption{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .top-border{

        background-color: white;
        margin: 0;
        padding: 5px;
        gap: 0;
        border-color: none;
        
    }

    .border-frame{
        /* border: 2px solid black; */
        width: 40%;
        height: 100%;
    
    }
    .border-frame img {
        width: 100%;
        height: 100%;
    }
    .container-border h1{
        font-size: 40px;
    }
    .container-border h2{
        font-size: 70px;
    }
    .bottom-border {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
        gap: 15px;
        padding-left: 10px;
        padding-top: 0;

    }
    .bottom-border-left, .bottom-border-right,
    .bottom-border-left2, .bottom-border-right2 {
        width: 100%;
        height: 90px;
        margin: 0;
        padding: 0;

    }
    .btn{
        margin-left: 20px;
        width: 80%;
        padding: 3px;
        margin-bottom: 10px;
    }
    .text-project-descroption{
        /* border: 2px solid black; */
        width: 100%;
        text-align: center;
    
    }
    .bottom-border-left:hover, .bottom-border-right:hover, .bottom-border-left2:hover, .bottom-border-right2:hover {
        background-color: rgb(181, 181, 250);
        cursor: pointer;
        transition: 0.3s ease;
        transform: scale(0.5.0.5);
        
    }

    .text-personal span{
        margin-bottom: 6%;

        font-size: 10px;
        width: 100%;
        text-align: start;
        padding: 0;
    }
    .text-personal{

        width: 60%;
        padding-left: 5%;
    }
    .div-center{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

